<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cubesschool8.supermarket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.LogInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TermsOfUseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityWithMessage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BasketActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AddressChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FinalConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CategoryItemsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfilActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        />
        <activity
            android:name=".activity.SettingsActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.StatisticsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WishListActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyPurchasesActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SearchActivity"
            android:windowSoftInputMode="adjustPan"
            ></activity>
    </application>

</manifest>
